module.exports = {
  FRONTEND_URL: 'http://localhost:3000/#',
  API_URL: 'http://localhost:3000/api/',
  BACKEND_URL: 'http://localhost:3000',
  AUTH_URL: 'http://localhost:3000/auth',
  REGISTER_URL: 'http://localhost:3000/api/public/register',
  ONBEFOREUNLOAD: false,
  DEBUG_MODE: false,
  STATIC_TOCKEN: 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpYXQiOjE1OTYwNzA1NDAsImlkUm9sIjoxMDAwfQ.ExKzELNpEYq_sszLyRmCNcN3wAcC0a_yFhfsxVFAIuU',
  STATIC_TOKEN_SAJ: 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjBmZjU3ZTI5LTJjZmMtNGZhYS05ODdjLTU0MGI3ZWJjNjE3MyIsIm5vbWJyZSI6IlNFUERBVkkiLCJpZEVudGlkYWQiOiIzZTU2YTFmNS0zMTNhLTQ0Y2EtYjYyOS0yNTdjZjAzNmZlOWEiLCJpYXQiOjE2ODc1NDcxMzJ9.pe08SURIlyODqb9ZhjxC5ES7BhHwJVY_mbsCnmKpwSc',
  SAJ_URL: 'https://test.saj.justicia.gob.bo/backend/api/public/',
  ID_FORMULARIO_ABOGADO: '0610fa61-1f63-4ddb-9ca9-cfdfb6fd6d83',
  ID_FORMULARIO_VICTIMA: '9816e660-5639-4423-b99f-346a2d1b826d',
  ID_FORMULARIO_SOCIAL: '',
  ID_FORMULARIO_PSICOLOGIA: '',
  ID_FORMULARIO_APERTURA: 'd49de3ba-95c1-4010-8de4-9252ea8daf54',
  ID_ROL_VENTANILLA: '',
  ID_ROL_SOCIAL: '',
  ID_ROL_ABOGADO: '',
  ID_ROL_PSICOLOGIA: '',
  ID_PARTICIPANTE_VICTIMA: '',
  ID_PARTICIPANTE_DENUNCIANTE: ''
}
