// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

/* $primary : #010315;
$secondary : #1e1e2d;
$accent : #0d56cb;*/

$primary : #2dbdef;
$secondary : #010315;
$accent : #e30613;

$dark : #1c071b;

$positive : #05361a;
$negative : #f64e60;
$info : #042512;
$warning : #ffa800;

// used by dark mode
$dark : #1c071b;
// $dark-page : #151521;
$separator-color : #e4e6ef;
$separator-dark-color : #2b2b40;
